<header class="header">
  <div class="header-left">
    <div class="logo">
      <i data-feather="trello"></i>
      Kanban
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Buscar tarefas..." />
    </div>
  </div>
  <div class="header-right">
    <div class="header-icon">
      <i data-feather="bell"></i>
      <span class="notification-badge">3</span>
    </div>
    <div class="header-icon">
      <i data-feather="settings"></i>
    </div>
    <div class="user-avatar">JS</div>
  </div>
</header>
