.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #f5f7fb;
  overflow: hidden;
}

/* ===== HEADER FIXO ===== */
app-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  background: linear-gradient(90deg, #7b5cff, #8f67ff, #a57aff);
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

/* ===== WRAPPER DO CONTEÚDO ===== */
.content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background: #b4230a;
  margin-top: 70px; /* altura do header */
}

/* ===== SIDEBAR ===== */
app-sidebar {
  width: 260px;
  min-width: 240px;
  height: calc(100vh - 70px);
  background: #8d0e99;
  border-right: 1px solid #ececec;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  box-shadow: 2px 0 10px rgba(0,0,0,0.04);
  position: fixed;
  left: 0;
  top: 70px;

  z-index: 9;
}

/* ===== ÁREA PRINCIPAL ===== */
.main-content {
  flex: 1;
  margin-left: 240px; /* acompanha o tamanho da sidebar */
  padding: 25px 40px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
